.task-form {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  background-color: #1e1e1e;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.form-input {
  flex-grow: 1;
  padding: 12px 16px;
  background-color: #1a1a1a;
  border: 2px solid #7b2cfb;
  font-size: 16px;


  &::placeholder {
    color: #666;
  }

  &:focus {
    border-color: #9d4edd;
    box-shadow: 0 0 15px rgba(157, 78, 221, 0.4);
    background-color: #1f1f1f;
  }
}

.form-btn{
    padding: 0px 25px;
    background-color: #7b2cfb;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
        background-color: #9d4edd;
        box-shadow: 0 0px 15px rgba(157, 78, 221, 0.6);

    }
}
